<!-- INCLUDE ucp_header.html -->

<h2>{L_TITLE}</h2>

<div class="panel">
	<div class="inner">

	<form id="ucp" method="post" action="{S_UCP_ACTION}">

	<h3>{L_UCP_SITUATION}</h3>
	<fieldset>
		<dl>
			<dt><label>{L_UCP_PSB_NOMBRE}{L_COLON}</label><br />
			<span>{L_UCP_PSB_NB_EXPLAIN}</span></dt>
			<dd>{UCP_PSB_NBT}</dd>
		</dl>
	</fieldset>
	
	<h3>{L_UCP_EXPLORATION}</h3>
	<fieldset>
		<dl>
			<dt><label>{L_UCP_PSB_AFFICHAGE}{L_COLON}</label><br />
			<span>{L_UCP_PSB_AFF_EXPLAIN}</span>
			</dt>
			<dd><input name="nbma" id="nbma" type="text" size="4" maxlength="2" value="{PSB_NBA}" />&nbsp;<span>{L_MONTHS}</span>
			</dd>
		</dl>
		<dl>
			<dt><label>{L_UCP_PSB_NB_POST}{L_COLON}</label><br />
			<span>{L_UCP_PSB_NB_POST_EXPLAIN}</span></dt>
			<dd>{UCP_PSB_NBP}</dd>
		</dl>
		<dl>
			<dt><label>{L_UCP_PSB_NB_VISIT}{L_COLON}</label><br />
			<span>{L_UCP_PSB_NB_VIS_EXPLAIN}</span></dt>
			<dd>{UCP_PSB_NBV}</dd>
		</dl>
	</fieldset>

	<h3>{L_UCP_PURGE_SUB}</h3>
	<fieldset>
		<dl>
			<dt><label>{L_UCP_PSB_PURGE_LABEL}{L_COLON}</label><br />
			<span>{L_UCP_PSB_PURGE_EXPLAIN}</span>
			</dt>
			<dd><input name="nbmp" id="nbmp" type="text" size="4" maxlength="2" value="{PSB_NBP}" />&nbsp;<span>{L_MONTHS}</span>
			</dd>
		</dl>
	
			<dl>
		<dt><label for="purgep0">{L_UCP_PURGE_POSTS}{L_COLON}</label></dt>
		<dd>
			<label for="purgep1"><input type="radio" name="purgep" id="purgep1" value="1" checked="checked" /> {L_YES}</label>
			<label for="purgep0"><input type="radio" name="purgep" id="purgep0" value="0" /> {L_NO}</label>
		</dd>
	</dl>
	<dl>
		<dt><label for="purgev1">{L_UCP_PURGE_VISIT}{L_COLON}</label></dt>
		<dd>
			<label for="purgev1"><input type="radio" name="purgev" id="purgev1" value="1" checked="checked" /> {L_YES}</label>
			<label for="purgev0"><input type="radio" name="purgev" id="purgev0" value="0" /> {L_NO}</label>
		</dd>
	</dl>
</fieldset>

	<fieldset class="submit-buttons">
		{S_HIDDEN_FIELDS}<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp;
		<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
		{S_FORM_TOKEN}
	</fieldset>

	</form>
	</div>
</div>

<!-- INCLUDE ucp_footer.html -->